@use "sass:color";
@use "sass:map";

$button-height: 2.4rem;
$padding-sizes: (
  none: 0,
  small: 0.3125rem,
  medium: 0.75rem 0.9rem,
  /* same as accordionmenu-submenu-padding */ large: 1rem 1.25rem,
  xlarge: 1.25rem 2rem 1.5rem,
  xxlarge: 1.5rem 2.5rem 1.75rem,
  button: $button-padding,
);
$user-card-sizes: (
  xsmall: 24px,
  small: 2.4rem,
  medium: 54px,
  large: 96px,
  xlarge: 144px,
  xxlarge: 240px,
);
$user-card-default-size: map-get($user-card-sizes, medium);
$dynamic-relation: (
  small: medium,
  medium: large,
  large: xlarge,
);

// Info Chip
// ---------
$info-chip-padding: 0.35em 0.5em 0.20em;
$info-chip-padding-round: 0.37em 0.8em;
$info-border-shadow: 0 0 0 0.7px color-mix-opacity(#{$color-text-0}, 10%, 90%);

// Button & Input
// ---------
$input-height: $button-height;

// Menu
// ---------
$border: 1px solid $color-bg-2;

// Icons
$icon-line-weight: 2;

// Spinner
// ---------

$spinner-sizes: (
  tiny: $switch-height-tiny,
  small: $switch-height-small,
  medium: $switch-height,
  large: $switch-height-large,
);

// Breadcrumbs
// ---------

$breadcrumbs-margin: 0;
$breadcrumbs-item-font-size: 0.875rem;
$breadcrumbs-item-color: $color-text-2;
$breadcrumbs-item-color-current: $color-text-1;
$breadcrumbs-item-color-disabled: $color-text-2;
$breadcrumbs-item-margin: 0.5rem;
$breadcrumbs-item-uppercase: false;
$breadcrumbs-item-separator: true;
$breadcrumbs-item-separator-item: "·";
$breadcrumbs-item-separator-item-rtl: "·";
$breadcrumbs-item-separator-color: $breadcrumbs-item-color;


// Space Badge
// ---------

$badge-space-background: var(--f-color-bg-2);
$badge-space-background-hover: var(--f-color-bg-0);
$badge-space-color: inherit;
$badge-space-color-inline: var(--f-color-text-0);
$badge-space-color-hover: var(--f-color-text-0);
$badge-space-border-color: transparent;
$badge-space-border-color-hover: var(--f-color-border-2);
$badge-space-icon-color-accent: var(--f-color-brand);
$badge-space-icon-color-base: var(--f-color-border-2);