@use "sass:color";
@use "sass:map";

$button-height: 2.4rem;
$padding-sizes: (
  none: 0,
  small: 0.3125rem,
  medium: 0.75rem 0.9rem,
  /* same as accordionmenu-submenu-padding */ large: 1rem 1.25rem,
  xlarge: 1.25rem 2rem 1.5rem,
  xxlarge: 1.5rem 2.5rem 1.75rem,
  button: 0.5rem 0.75rem, // matches button-padding
);
$user-card-sizes: (
  xsmall: 24px,
  small: 2.4rem,
  medium: 54px,
  large: 96px,
  xlarge: 144px,
  xxlarge: 240px,
);
$user-card-default-size: map-get($user-card-sizes, medium);
$dynamic-relation: (
  small: medium,
  medium: large,
  large: xlarge,
);

// Info Chip
// ---------
$info-chip-padding: 0.35em 0.5em 0.20em;
$info-chip-padding-round: 0.37em 0.8em;
$info-border-shadow: 0 0 0 0.7px color-mix-opacity(#{$color-text-0}, 10%, 90%);

// Button & Input
// ---------
$input-height: $button-height;

// Menu
// ---------
$border: 1px solid $color-bg-2;

// Icons
$icon-line-weight: 2;

// Spinner
// ---------

$spinner-sizes: (
  tiny: 0.625rem, // matches switch-height-tiny
  small: 0.75rem, // matches switch-height-small
  medium: 1rem, // matches switch-height
  large: 1.5rem, // matches switch-height-large
);

