@use "sass:color";
@use "sass:map";

//  Spaces Custom Settings for Foundation
//  -----------------------------
//
//  Table of Contents:
//   0. Root Variables & Theming
//   1. General & Grid
//   2. Typography
//   3. Cards (Card, Space Card, User Card, Post Card, Clipping)
//   4. Forms & Inputs (Dropdown, Chips, Switch, Checkbox, Button)
//   5. Navigation & Menus (Dot Menu, Main Menu, Icons, Breadcrumbs)
//   6. Components (Excerpt, Tabs, Typeahead, Accordion, Pagination, Callout, Details)
//   7. Utilities (Spacing, Flex, Gutters)
//   8. Animations & Focus (Spinner, Keyboard Focus)

// Import all modular SCSS files
@import "custom-styles/root-variables";
@import "custom-styles/general-base";
@import "custom-styles/typography";
@import "custom-styles/cards";
@import "custom-styles/forms-inputs";
@import "custom-styles/navigation-menus";
@import "custom-styles/components";
@import "custom-styles/utilities";
@import "custom-styles/animations-focus";
