// @todo: Don't add your own values here! This is for foundation defaults only. Use _custom-settings instead!

//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Card
//  15. Close Button
//  16. Drilldown
//  17. Dropdown
//  18. Dropdown Menu
//  19. Flexbox Utilities
//  20. Forms
//  21. Label
//  22. Media Object
//  23. Menu
//  24. Meter
//  25. Off-canvas
//  26. Orbit
//  27. Pagination
//  28. Progress Bar
//  29. Prototype Arrow
//  30. Prototype Border-Box
//  31. Prototype Border-None
//  32. Prototype Bordered
//  33. Prototype Display
//  34. Prototype Font-Styling
//  35. Prototype List-Style-Type
//  36. Prototype Overflow
//  37. Prototype Position
//  38. Prototype Rounded
//  39. Prototype Separator
//  40. Prototype Shadow
//  41. Prototype Sizing
//  42. Prototype Spacing
//  43. Prototype Text-Decoration
//  44. Prototype Text-Transformation
//  45. Prototype Text-Utilities
//  46. Responsive Embed
//  47. Reveal
//  48. Slider
//  49. Switch
//  50. Table
//  51. Tabs
//  52. Thumbnail
//  53. Title Bar
//  54. Tooltip
//  55. Top Bar
//  56. Xy Grid

@import "custom-includes/foundation-spaces/util/util";
@import "custom-includes/foundation-spaces/global";

// 0. Custom Settings (not Foundation-default)
// Custom settings have been moved to foundation-spaces/_global.scss

// 1. Global
// Global settings have been moved to foundation-spaces/_global.scss

// 2. Breakpoints
// Breakpoint settings have been moved to util/_breakpoint.scss

// 3. The Grid
// Grid settings have been moved to grid/_grid.scss

// 4. Base Typography
// Base Typography settings have been moved to typography/_base.scss

// 5. Typography Helpers
// Typography Helpers settings have been moved to typography/_helpers.scss

// 6. Abide
// Abide settings have been moved to forms/_error.scss

// 7. Accordion
// ------------
// Accordion settings have been moved to _s-accordion.scss

// 8. Accordion Menu
// -----------------
// Accordion Menu settings have been moved to _s-accordion-menu.scss

// 9. Badge
// Badge settings have been moved to _s-badge.scss

// 10. Breadcrumbs
// ---------------
// Breadcrumbs settings are defined in _custom-settings.scss

// 11. Button
// ----------
// Button settings have been moved to _s-button.scss

// 12. Button Group
// Button Group settings have been moved to _s-button-group.scss

// 13. Callout
// -----------
// All callout variables match their defaults - no overrides needed

// 14. Card
// --------
// Card settings have been moved to foundation-spaces/components/_card.scss

// 15. Close Button
// Close Button settings have been moved to components/_close-button.scss

// 16. Drilldown
// Drilldown settings have been moved to components/_drilldown.scss

// 17. Dropdown
// Dropdown settings have been moved to components/_dropdown.scss

// 18. Dropdown Menu
// Dropdown Menu settings have been moved to components/_dropdown-menu.scss

// 19. Flexbox Utilities
// Flexbox Utilities settings have been moved to components/_flex.scss

// 20. Forms
// ---------
// Forms settings have been moved to foundation-spaces/forms/* files

// 21. Label
// Label settings have been moved to _s-label.scss

// 22. Media Object
// Media Object settings have been moved to components/_media-object.scss

// 23. Menu
// Menu settings have been moved to _s-menu.scss

// 24. Meter
// Meter settings have been moved to forms/_meter.scss

// 25. Off-canvas
// Off-canvas settings have been moved to components/_off-canvas.scss

// 26. Orbit
// Orbit settings have been moved to _s-orbit.scss

// 27. Pagination
// Pagination settings have been moved to components/_pagination.scss

// 28. Progress Bar
// Progress Bar settings have been moved to forms/_progress.scss

// 29. Prototype Arrow
// Prototype Arrow settings have been moved to prototype/_arrow.scss

// 30. Prototype Border-Box
// Prototype Border-Box settings have been moved to prototype/_border-box.scss

// 31. Prototype Border-None
// Prototype Border-None settings have been moved to prototype/_border-none.scss

// 32. Prototype Bordered
// Prototype Bordered settings have been moved to prototype/_bordered.scss

// 33. Prototype Display
// Prototype Display settings have been moved to prototype/_display.scss

// 34. Prototype Font-Styling
// Prototype Font-Styling settings have been moved to prototype/_font-styling.scss

// 35. Prototype List-Style-Type
// Prototype List-Style-Type settings have been moved to prototype/_list-style-type.scss

// 36. Prototype Overflow
// Prototype Overflow settings have been moved to prototype/_overflow.scss

// 37. Prototype Position
// Prototype Position settings have been moved to prototype/_position.scss

// 38. Prototype Rounded
// Prototype Rounded settings have been moved to prototype/_rounded.scss

// 39. Prototype Separator
// Prototype Separator settings have been moved to prototype/_separator.scss

// 40. Prototype Shadow
// Prototype Shadow settings have been moved to prototype/_shadow.scss

// 41. Prototype Sizing
// Prototype Sizing settings have been moved to prototype/_sizing.scss

// 42. Prototype Spacing
// Prototype Spacing settings have been moved to prototype/_spacing.scss

// 43. Prototype Text-Decoration
// Prototype Text-Decoration settings have been moved to prototype/_text-decoration.scss

// 44. Prototype Text-Transformation
// Prototype Text-Transformation settings have been moved to prototype/_text-transformation.scss

// 45. Prototype Text-Utilities
// Prototype Text-Utilities settings have been moved to prototype/_text-utilities.scss

// 46. Responsive Embed
// Responsive Embed settings have been moved to components/_responsive-embed.scss

// 47. Reveal
// Reveal settings have been moved to _s-reveal.scss

// 48. Slider
// Slider settings have been moved to _s-slider.scss and forms/_range.scss

// 49. Switch
// ----------
// Switch settings have been moved to _s-switch.scss

// 50. Table
// ---------

// We don't do tables with foundation, the component does not get imported (WP styling conflict).

// 51. Tabs
// --------
// Tabs settings have been moved to _s-tabs.scss

// 52. Thumbnail
// Thumbnail settings have been moved to components/_thumbnail.scss

// 53. Title Bar
// Title Bar settings have been moved to components/_title-bar.scss

// 54. Tooltip
// Tooltip settings have been moved to components/_tooltip.scss

// 55. Top Bar
// Top Bar settings have been moved to components/_top-bar.scss

// 56. XY Grid
// XY Grid settings have been moved to xy-grid/_xy-grid.scss
