// 9. Dropdown
// -----------

.dropdown-pane,
.popover {
  max-width: 100%;
  box-shadow: $global-drop-shadow;
  background-color: $color-bg-1;
  font-size: $small-font-size;
  min-width: 200px;

  &[id^="user-"][id$="-dropdown"].is-open {
    display: flex;

    .remove-user {
      order: 5;
    }

    .change-role > a {
      @extend .padding-button;
    }
  }

  &.is-open {
    z-index: 2000;
  }

  .card-divider,
  .card-section {
    & > a,
    button {
      cursor: pointer;
      line-height: 1rem;
      box-sizing: content-box;
    }
  }
}

.info-chips {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: rem-calc($global-font-size * 0.875);
  max-width: 100%;
  padding: 1px;

  &.small {
    font-size: rem-calc($global-font-size * 0.75);
  }

  &.large {
    font-size: rem-calc($global-font-size);
  }

  .flex-nowrap & {
    flex-wrap: nowrap;
    overflow: hidden;

    .info-chip {
      overflow: hidden;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .post-card-footer &:last-child {
    padding: $button-padding;
  }

  &.no-margin {
    margin: 0 -3px;
  }

  @each $color-name, $color in $foundation-palette {
    &.#{$color-name} span {
      background: $color-bg-2;
      border-color: $color-bg-2;
    }
  }

  @include foundation-palette($child: ".info-chip span:last-child", $property: "border-color", $hover: "false");
  @include foundation-palette($child: ".info-chip span:last-child", $property: "background", $hover: "false");
}

.info-chip {
  text-decoration: none !important;
  display: flex;
  background: $color-bg-1;
  color: $color-text-0;
  margin: 0.25em;
  padding: 0 !important;
  margin-left: 0;
  border-radius: $global-radius;
  overflow: hidden;
  line-height: 1.3;
  text-align: center;
  cursor: default;
  box-shadow: $info-border-shadow;

  &[href] {
    cursor: pointer;
    box-shadow:
      $info-border-shadow,
      0 1px 1px 0 color-mix-opacity(#{$color-text-0}, 6%, 94%);
    border: 1px solid $color-border-0;
  }

  &[href]:hover {
    box-shadow:
      $info-border-shadow,
      0 1px 1px 0 color-mix-opacity(#{$color-text-0}, 25%, 75%);
    border: 1px solid $color-border-0;
  }

  &.round {
    & > span {
      padding: $info-chip-padding-round;
    }

    border-radius: 2rem;
  }

  &.hollow {
    &,
    span,
    span:last-child {
      background: none;
    }
  }

  &.clear {
    width: 100%;
    background: none;
    margin: 1em 0;
    flex-direction: column;
    text-align: left;
    color: $color-text-2;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    & > span,
    & > div,
    & > a {
      display: block;
      padding: 0;
      border: none;

      &:last-child {
        color: $color-text-0;
        background: none;
      }
    }
  }

  & > span {
    display: inline-block;
    padding: $info-chip-padding;
    align-self: center;
    border-right: 1px solid $color-bg-2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      border-top-left-radius: $global-radius;
      border-bottom-left-radius: $global-radius;
    }

    &:last-child {
      @include foundation-palette($property: "background", $hover: "false");
      @include foundation-palette($property: "border-color", $hover: "false");

      border-right: none;
    }

    &:nth-child(2) {
      background: $color-bg-2;
    }
  }

  & > .icon {
    line-height: 1.1rem;
  }

  a {
    display: inline-block;
    padding: $info-chip-padding;
    background: $color-bg-2;
    color: inherit;
    text-decoration: none;
  }

  a:hover > & {
    box-shadow:
      $info-border-shadow,
      0 1px 1px 0 color-mix-opacity($color-text-0, 25%, 75%);
  }
}

.section_footer > .info-chips {
  @extend .show-for-medium;
}

.user-space-info {
  line-height: $header-lineheight;
}

// 10. Switch, Checkbox & Radio
// ---------

.label-wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  & > *:first-child {
    margin-right: 0.5rem;
  }
}

.switch {
  .icon-left & {
    margin-left: auto;
  }

  [disabled] ~ .switch-paddle {
    opacity: 0.5;
  }

  .switch-paddle {
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 0;
    height: 100%;
    background: none;

    &::before {
      content: "";
      background: $color-text-1;
      background: color-mix(in oklab, $color-text-0 22%, $color-bg-1 78%);
      height: 2px;
      width: 100%;
    }

    &::after {
      content: "";
      top: initial;
      left: 0;
      border-radius: 50%;
      box-shadow: inset 0 0 0 2px color-mix(in oklab, $color-text-0 22%, $color-bg-1 78%);
    }
  }

  input:checked ~ .switch-paddle {
    background: none;

    &::after {
      box-shadow: inset 0 0 0 2em currentcolor;
    }
  }

  @include foundation-palette($child: "input:checked ~ .switch-paddle");
}

.switch-with-labels {
  margin-right: 0.25rem;
  height: auto;
  align-items: flex-start;

  .switch-paddle {
    width: 4rem;
    flex: 0 0 4rem;
    margin: 0;
  }

  input:checked {
    ~ .switch-paddle::after {
      left: 2rem;
    }

    ~ .switch-paddle .switch-label-left {
      color: $color-bg-1;
    }

    ~ .switch-paddle .switch-label-right {
      color: $color-text-0;
      zoom: 1;
    }

    ~ .switch-label-description-left {
      display: none;
    }

    ~ .switch-label-description-right {
      display: block;
    }
  }

  .switch-paddle::before {
    height: $button-height;
    border-radius: 20px;
  }

  .switch-paddle::after {
    width: $button-height;
    height: $button-height;
    box-shadow: inset 0 0 0 2px $color-text-2 !important;
  }

  .switch-label-left,
  .switch-label-right {
    position: absolute;
    z-index: 999;
    color: $color-bg-1;
    zoom: 0.9;
    transition: zoom 0.5s;
  }

  .switch-label-left {
    left: 0.5rem;
    color: $color-text-0;
    zoom: 1;
  }

  .switch-label-right {
    right: 0.5rem;
  }

  .switch-label-description-right {
    display: none;
  }

  .switch-label-description-left,
  .switch-label-description-right {
    color: $color-text-0;
    margin-left: 10px;
  }
}

.switch-input {
  pointer-events: none;
}

.checkbox,
.radio {
  display: flex;
  align-items: center;

  input {
    position: absolute;
    opacity: 0;
  }

  @include foundation-palette;

  font-size: $switch-height;

  &.small {
    font-size: $switch-height-small;
  }

  &.large {
    font-size: $switch-height-large;
  }

  .label-wrapper {
    & > label {
      padding-left: 0.5rem;
    }
  }
}

label > [disabled] ~ * {
  opacity: 0.5;
}

.checkbox-label,
.radio-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: $switch-height;
  line-height: 1;
  margin: 0;
  width: initial;

  .small > & {
    font-size: $switch-height-small;
  }

  .large > & {
    font-size: $switch-height-large;
  }

  [disabled] ~ & {
    opacity: 0.5;
  }

  [type="checkbox"] + &,
  [type="radio"] + & {
    margin: 0;
  }
}

// Checkbox

.checkbox {
  &.round {
    .checkbox-label {
      &::before {
        border-radius: 50%;
      }
    }
  }

  .checkbox-label {
    height: 1.125em;

    &::before {
      content: "";
      box-shadow: inset 0 0 0 2px $color-text-2;
      border-radius: $global-radius-small;
      transition: all $global-transition-medium;
      height: 1em;
      width: 1em;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0.3em;
      height: 0.55em;
      border-bottom: 2px solid transparent;
      border-right: 2px solid transparent;
      transform: rotate(45deg) translate(0.03125em, 0.03125em);
      z-index: 2;
      transition: all $global-transition-medium;
    }

    &.small {
      .checkbox-label {
        &::before {
          box-shadow: inset 0 0 0 1px $color-text-2;
        }

        &::after {
          border-width: 1px;
        }
      }
    }
  }

  input:checked ~ .checkbox-label {
    &::before {
      box-shadow: inset 0 0 0 2em currentcolor;
      transition: all $global-transition-medium;
    }

    &::after {
      transform: rotate(45deg) translate(-0.03125em, -0.03125em);
      transition: all $global-transition-short;
      transition-delay: $global-transition-short;
      border-color: $color-bg-1;
    }
  }
}

.radio {
  .radio-label {
    height: 1em;

    &::before {
      content: "";
      position: absolute;
      box-shadow: inset 0 0 0 2px $color-text-2;
      transition: all $global-transition-medium;
      border-radius: 1em;
      height: 1em;
      width: 1em;
    }
  }

  input:checked ~ .radio-label {
    &::before {
      box-shadow: inset 0 0 0 calc(0.5em - 2px) currentcolor;
      transition: all $global-transition-medium;
    }
  }
}

.radio-accordion {
  list-style: none;

  @include foundation-palette($child: ".radio-label");

  .radio {
    height: auto;

    &:has(input[type="radio"]:focus-visible) {
      outline: 2px solid Highlight;
      outline-offset: 2px;
      border-radius: 4px;
    }
  }

  .radio-accordion-item {
    padding: 0.625rem 0;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .radio-label::before {
    position: relative;
  }

  .radio-accordion-content {
    margin-top: 0.375rem;

    &:not(.visible) {
      display: none;
    }
  }

  &.is-accordion-submenu {
    margin-left: 0;
  }
}

// 11. Button & Input
// ---------

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"] {
  height: $input-height;
  padding: $label-padding;
  line-height: $form-label-line-height;
}

[type="checkbox"],
[type="radio"] {
  & + label {
    display: flex;
  }
}

select {
  height: $input-height;
  padding: $label-padding;
  padding-right: 1.5rem;
  line-height: $form-label-line-height;

  & + button,
  & + .button {
    height: $input-height;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.input-group {
  margin: 0;

  .input-group-label {
    padding: $label-padding;
  }

  .input-group-field {
    &:first-child {
      border-radius: $global-radius 0 0 $global-radius;
    }

    &:last-child {
      border-radius: 0 $global-radius $global-radius 0;
    }
  }
}

input,
.input {
  &.clear {
    border-color: transparent;
  }
}

.help-text {
  margin-top: 0.375rem;
  font-size: 0.75rem;
  font-style: normal;
  color: $color-text-1;
  line-height: 1.3;
}

.form-error {
  margin-top: 0.375rem;
  line-height: 1.3;
}

.button {
  justify-content: center;
  align-items: center;

  &:not(.small) {
    min-height: $button-height;
  }

  &.expanded {
    box-sizing: border-box;
  }

  .menu & {
    padding: $button-padding;
  }

  &.load {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    color: var(--f-color-success-contrast) !important;
    background-color: var(--f-color-success);
    animation: background-pulse 2s $global-transition-timing-cubic-bezier infinite;
  }
}

.button-group {
  border-radius: $global-radius;
  overflow: hidden;

  &:not(.no-gaps) {
    gap: 1px;
  }

  input {
    width: initial;
  }

  button,
  .button,
  select,
  input {
    margin-bottom: 0;

    &:hover {
      z-index: 1;
    }

    &:not(:first-child, :last-child) {
      border-radius: 0;
    }

    &:first-child:not(:last-child) {
      border-radius: $global-radius 0 0 $global-radius;
    }

    &:last-child:not(:first-child) {
      margin-right: 0;
      border-radius: 0 $global-radius $global-radius 0;
    }

    &.hollow {
      &:not(:last-child) {
        margin-right: -1px;
      }
    }

    &.expanded {
      flex: 1;
      width: initial;
    }
  }

  button,
  .button {
    &:not(.hollow) + .hollow {
      margin-left: -2px;
    }
  }

  &.hollow {
    button,
    .button,
    select,
    input {
      &:first-child {
        border-radius: $global-radius 0 0 $global-radius;
      }

      &:last-child {
        border-radius: 0 $global-radius $global-radius 0;
      }

      &:not(:last-child) {
        margin-right: -1px;
      }
    }
  }

  &.expanded {
    width: 100%;

    button,
    .button,
    select {
      &:not(:last-child) {
        margin-right: 1px;
      }
    }
  }
}

.input-group {
  button,
  .button,
  input,
  .input,
  select,
  textarea {
    margin-bottom: 0;
  }

  input.clear:not(:focus) {
    border-color: transparent;
  }

  margin-bottom: $paragraph-margin-bottom;
}

.button,
.input,
.button-group {
  line-height: $form-label-line-height;

  &:focus,
  &:active {
    outline: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .card-section.no-padding:not(:first-child) > &,
  .card-divider.no-padding:not(:first-child) > & {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .card-section.no-padding:not(:last-child) > &,
  .card-divider.no-padding:not(:last-child) > & {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes background-pulse {
  0% {
    background-color: var(--f-color-success);
  }

  50% {
    @include color-mix("bg", var(--f-color-success), 51%, transparent, 49%);
  }

  100% {
    background-color: var(--f-color-success);
  }
}

.grow-wrap {
  display: grid;

  &::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
  }

  > textarea,
  &::after {
    padding: 0.75rem;
    font: inherit;
    line-break: normal;
    padding-right: 2rem;
    grid-area: 1 / 1 / 2 / 2;
  }

  > textarea {
    field-sizing: content;
  }
}

// 26. Chips / Choices
// ---------

.chips {
  .input {
    border: $input-border;
    border-radius: $global-radius;
    padding: $input-padding / 2;
    min-height: $button-height;

    input {
      border-radius: 0;
      box-shadow: none;
      border: none;
      height: 1.25rem;
      padding: $input-padding / 2;
    }
  }

  .list-dropdown {
    border: none;
    margin-top: calc(#{nth($hr-border, 1)} * -1);
    border-radius: 0 0 $global-radius $global-radius;
    background-color: $card-background;

    .chips-item {
      font-size: $small-font-size;
      padding: $button-padding;

      &.is-highlighted {
        background-color: $color-bg-2;
      }
    }
  }

  .chips-list.multiple .chips-item {
    font-size: $small-font-size;
    margin: $input-padding / 2;
    border: none;
    color: var(--f-color-success-contrast);
    background-color: var(--f-color-success);
    padding: 0.375rem 0.75rem 0.25rem;

    .chips-button {
      border-left: 1px solid var(--f-color-success--dark);
      margin: -2px -8px -2px 8px;
      width: 20px;
      height: 16px;
      opacity: 0.75;
      border-radius: 0;
    }

    &.is-highlighted {
      border: none;
      color: var(--f-color-success-contrast);
      background-color: var(--f-color-success-darker);

      .chips-button {
        border-left: 1px solid var(--f-color-success-darker);
      }
    }
  }

  &.is-focused,
  &.is-open {
    .input,
    .list-dropdown {
      border: $input-border-focus;
    }
  }

  &.is-open {
    .input {
      border-radius: $global-radius $global-radius 0 0;
    }
  }
}
