@use "sass:color";
@use "sass:map";

// 1. General
// ---------

html {
  overflow-y: scroll;
}

body {
  background-color: $color-bg-0;
  color: $color-text-0;
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  font-family: $body-font-family;
  font-weight: $global-weight-normal;
  line-height: $global-lineheight;
  text-rendering: optimizelegibility;

  @if $body-antialiased {
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  }
}

// Somewhat CSS reset-ish settings

img {
  // Get rid of gap under images by making them display: inline-block; by default
  display: inline-block;
  vertical-align: middle;

  // Grid defaults to get images and embeds to work properly
  max-width: 100%;
  height: auto;
}

// Make sure textarea takes on height automatically
textarea {
  height: auto;
  min-height: 50px;
  border-radius: $global-radius;
}

// Make select elements are 100% width by default
select {
  box-sizing: border-box;
  width: 100%;
  border-radius: $global-radius;
}

// Styles Google Maps and MapQuest embeds properly
// sass-lint:disable-line no-ids
.map_canvas,
.mqa-display {
  img,
  embed,
  object {
    max-width: none !important;
  }
}

// Reset <button> styles created by most browsers
button {
  @include disable-mouse-outline;

  padding: 0;
  appearance: none;
  border: 0;
  border-radius: $global-radius;
  background: transparent;
  line-height: 1;
  cursor: $global-button-cursor;
}

// Prevent text overflow on pre
pre {
  overflow: auto;
}

// Make reset inherit font-family instead of settings sans-serif
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

// Internal classes to show/hide elements in JavaScript
.is-visible {
  display: block !important;
}

.is-hidden {
  display: none !important;
}

// 2. Grid
// ---------

.grid-container {
  &.space {
    @each $breakpoint, $width in $breakpoints {
      @include breakpoint(#{$breakpoint} only) {
        margin-top: map-get($grid-container-padding, #{$breakpoint});
      }
    }
  }

  &.no-padding {
    padding: 0;
  }
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-column-min-width, 250px), 100%), 1fr));
}

.reverse-grid-container {
  margin-inline: calc(-50vw + 50%);
}

.cell {
  position: relative;
}

.sidebar {
  z-index: 30;
}

// 35. Accessibility helpers
.fa-sr-only,
.fa-sr-only-focusable:not(:focus),
.sr-only,
.sr-only-focusable:not(:focus) {
  /* This has been living in fontawesome 6 lost in 7 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
