// 12. Dot Menu
// ---------

.dots,
.add {
  cursor: pointer;
  z-index: 50;
  width: $button-height;
  justify-items: center;

  &::after {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $button-height;
    line-height: 0;
    font-weight: $global-weight-bold;
    font-size: 1.25rem;
    white-space: nowrap;
  }

  &.button {
    &::after {
      height: 0.5rem;
    }
  }

  .button & {
    margin: -0.5em -0.75em;
  }

  &.hidden {
    display: none;
  }

  &.visible {
    display: block !important;
  }
}

.dots {
  padding-bottom: 0.675rem;

  &::after {
    content: "...";
    letter-spacing: 0.03125rem;
    margin-top: -0.65rem;
  }
}

.add {
  &::after {
    content: "+";
    height: $button-height;
  }
}

.reply-button {
  a {
    &::after {
      content: "reply";
      padding: 0.5rem;
      font-size: 0.75rem;
      color: $color-text-1;
    }

    &:hover::after {
      color: $color-text-0;
    }
  }
}

.edit-bar {
  display: flex;
  align-items: center;
  margin-left: auto;
}

// 14. Menu
// ---------

.menu {
  a,
  .button {
    display: flex;

    &.no-padding {
      padding: 0;
    }
  }

  li {
    &[role="menuitem"],
    &[role="treeitem"] {
      list-style: none;
    }
  }
}

.main-menu {
  --header-height: var(--user-card-small);

  color: $color-text-1;
  background-color: $color-bg-1;
  position: relative;
  z-index: 1000;

  hr {
    margin: 0 auto;
    border-bottom: $hr-border;
  }

  .menu {
    font-size: 0.875rem;

    &.dropdown {
      flex-wrap: nowrap;

      & > li {
        & > :is(a, span, button) {
          height: var(--header-height);
          min-width: var(--header-height);
          padding-top: 0;
          padding-bottom: 0;
          margin-top: 0.25rem;
          margin-bottom: 0.25rem;
          border-radius: $global-radius;
          color: inherit;
        }
      }
    }

    li {
      &.menu-main-expand {
        position: static;

        .menu {
          width: 100%;
        }
      }

      &.no-arrow {
        & > a {
          padding-right: #{nth($dropdownmenu-padding, 1)};

          &::after {
            display: none;
          }
        }
      }

      input[type="search"] {
        border: none;
        box-shadow: none;
      }

      .menu-anchor {
        fill: currentcolor;
      }
    }

    & > li {
      & > .menu-anchor .fa {
        font-size: 1.25em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--header-height);
        height: var(--header-height);
      }

      &.submenu,
      .submenu-element {
        .fa {
          font-size: inherit;
          width: initial;
          height: initial;
        }
      }
    }

    & > .navbar-icon {
      & > a {
        justify-content: center;
        min-width: 48px;

        & > svg {
          width: 1.125rem;
        }
      }
    }
  }

  .is-dropdown-submenu-parent.avatar {
    width: initial;
    margin-left: var(--f-gutter-small);

    & > a {
      padding: 0 !important;

      &:hover,
      &.is-active {
        transform: scale(0.97);
      }
    }
  }
}

.superadmin-only {
  display: none;

  body.is-superadmin & {
    display: block;
  }
}

#main-menu-toggle-state {
  display: none;
}

.main-menu .menu {
  &.dropdown {
    & > .navbar-icon {
      & > a {
        & > span {
          display: initial;

          & + svg,
          & + i {
            display: none;
          }
        }
      }
    }

    .search {
      margin-left: auto;
    }
  }

  &.accordion-menu {
    justify-content: space-around;
    align-items: center;

    a {
      padding-inline: 0.75rem;
    }

    & > li {
      &.navbar-icon {
        justify-content: center;
        flex-grow: 0;
        flex-basis: 0;

        &.search {
          display: flex;
        }

        & > a {
          & > span {
            display: none;
          }

          &::after {
            display: none;
          }
        }
      }

      & > .menu-anchor {
        height: 48px;
        box-sizing: border-box;
        align-items: center;
        display: flex;
        color: $color-text-1;
        fill: currentcolor;
      }

      &:not(.navbar-icon) {
        display: none;

        #main-menu-toggle-state:popover-open ~ & {
          display: block;
        }
      }

      &.superadmin-only {
        display: none;

        body.is-superadmin & {
          #menu-state:checked ~ & {
            display: block;
          }
        }
      }
    }

    & > .flex-spacer-left {
      margin-left: initial;
    }

    &[data-multi-open="false"] .is-accordion-submenu-parent[aria-expanded="true"] {
      position: relative;
      box-shadow: none;
      width: 100%;
      margin: initial;
    }
  }
}

.caret {
  content: "\f078";
  font-family: "Font Awesome 7 Free";
  font-size: 0.625em;
  font-weight: bold;
  align-self: center;
  border: none;
}

.caret-icon {
  &::after {
    @extend .caret;
  }
}

.main-menu {
  .is-dropdown-submenu-parent.is-active {
    .menu-anchor {
      background: $color-bg-2;
      color: $color-text-0;
    }
  }

  .dropdown .menu-anchor {
    &:hover {
      background: $color-bg-2;
      color: $color-text-0;
    }
  }

  & > * > .dropdown,
  & > * > .accordion-menu {
    .submenu {
      border-top: $hr-border;
      border-radius: 0 0 $global-radius $global-radius;
      box-shadow: $global-drop-shadow;
      z-index: 1;
      a {
        border-right: none;
      }

      .submenu-element {
        .notifications-item:hover {
          background: $color-bg-2;
        }
      }

      li > .menu-anchor:hover,
      li > .submenu-element:hover {
        background: $color-bg-2;
        color: $color-text-0;
      }

      .is-submenu-item,
      .is-submenu-item {
        &:first-child a.submenu-element {
          padding-top: 1rem;
        }

        &:last-child {
          border-radius: 0 0 $global-radius $global-radius;

          a.submenu-element {
            padding-bottom: 1rem;
          }

          & > *,
          .submenu-element > * {
            border-radius: 0 0 $global-radius $global-radius;
          }
        }
      }

      .card-anchor {
        padding: 0;
      }
    }

    .main-menu-burger {
      & > a {
        padding: 0;
      }
    }
  }
}

.accordion-menu .nested.is-accordion-submenu {
  /* removed because user-role change in defaultspace
	margin-top: 0.75rem;
	*/

  .is-submenu-item {
    border: none;
  }
}

.accordion-menu .is-accordion-submenu-parent,
.accordion .accordion-item {
  & > a {
    &::after {
      @extend .caret;

      margin-left: auto;
    }

    &[aria-expanded="false"]::after {
      transform: rotate(-90deg);
      transition: $global-transition-medium;
    }

    &[aria-expanded="true"]::after {
      transform: rotate(-180deg);
      transition: $global-transition-medium;
    }
  }

  &[aria-expanded="false"] {
    & > a::after {
      transform: rotate(-90deg);
      transition: $global-transition-medium;
    }
  }

  &[aria-expanded="true"] {
    & > a {
      &::after {
        transform: rotate(-180deg);
        transition: $global-transition-medium;
      }
    }
  }

  &.has-submenu-toggle {
    & > a {
      margin-right: 0;
      padding-right: 36px;
    }

    & > a::after {
      display: none;
    }

    ul {
      button.submenu-toggle {
        height: $paragraph-font-size + map-get($spacing-scale, 3) + map-get($spacing-scale, 3);

        &:hover {
          background-color: $color-bg-2;
        }
      }
    }

    button.submenu-toggle {
      text-decoration: none;
      border-radius: 0 $global-radius 0 0;
      height: $paragraph-font-size + map-get($spacing-scale, 3) + map-get($spacing-scale, 3);

      &:hover {
        background-color: $color-bg-2;
      }

      &::after {
        position: absolute;
        top: map-get($spacing-scale, 3);
        left: map-get($spacing-scale, 3);

        @extend .caret;
      }

      &[aria-expanded="false"] {
        &::after {
          transform: rotate(-90deg);
          transition: $global-transition-medium;
        }
      }

      &[aria-expanded="true"] {
        &::after {
          transform: rotate(-180deg);
          transition: $global-transition-medium;
          left: auto;
          right: map-get($spacing-scale, 3);
        }
      }
    }
  }
}

.accordion-submenu-parent-collapsed {
  transition: all $global-transition-medium;
}

.accordion-submenu-parent-expanded {
  transition: all $global-transition-medium;
  box-shadow: $global-drop-shadow;
  margin: calc(var(--offset) / 2);
  background: $card-background;
  border-color: $color-bg-2;
  display: block;
  width: calc(100% - var(--offset));
  border-radius: $global-radius;

  & + * {
    border-top: 0;
  }

  & > a {
    border-radius: $global-radius $global-radius 0 0;
    overflow: hidden;
    box-shadow: inset 0 -#{nth($hr-border, 1)} nth($hr-border, 3);
    background: $color-bg-2;
  }
}

.accordion-menu .is-accordion-submenu-parent {
  --offset: #{$global-gutter-small};

  &[aria-expanded="false"] {
    @extend .accordion-submenu-parent-collapsed;
  }

  &[aria-expanded="true"] {
    @extend .accordion-submenu-parent-expanded;
  }
}

.accordion-menu {
  .menu-item {
    & > a:hover {
      background-color: $color-bg-2;
      color: $color-text-0;
    }
  }

  & > .menu-item {
    &:first-child:not(:last-child) > a {
      padding-top: nth($global-menu-padding, 2);
    }

    &:last-child:not(:first-child) > a {
      padding-bottom: nth($global-menu-padding, 2);
    }
  }

  .sub-menu {
    margin-left: nth($global-menu-padding, 2);
  }

  .button {
    text-align: left;
  }

  & > .navbar-icon {
    position: static;
    width: initial;

    .submenu {
      position: absolute;
      right: 0;
      top: 3rem;
      background: $color-bg-1;
    }
  }
}

.dropdown {
  & > li > a {
    display: flex;
    align-items: center;
    height: 48px;
    box-sizing: border-box;
  }

  &.menu {
    & > li {
      img.avatar {
        padding: 0;
      }

      &.no-padding > a,
      & > a.no-padding {
        padding: 0 !important;
      }

      & > a {
        @include breakpoint(medium down) {
          padding: 0.5rem;
        }
      }

      &.is-dropdown-submenu-parent {
        .is-dropdown-submenu {
          background-color: $color-bg-1;
        }
      }

      &.is-dropdown-submenu-parent > a {
        &::after {
          @extend .caret;

          margin-right: 0.75rem;
          line-height: 0.75;
        }
      }

      &.is-dropdown-submenu-parent:not(.no-arrow) > a {
        @include breakpoint(medium down) {
          padding-right: 1.25rem;
        }
      }
    }
  }
}

li {
  & > label,
  & > span,
  & > a {
    .menu.icon-left > &,
    .menu.icon-right > & {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

// 15. Icons
// ---------

.icons {
  &.icon-left {
    i {
      margin-left: 0;
      margin-right: 0.5rem;
    }
  }

  &.icon-right {
    i {
      margin-left: 0.5rem;
      margin-right: 0;
    }
  }
}

i,
svg {
  .icons & {
    font-size: 0.75rem;
    width: 1.5em;
    display: flex;
    justify-content: center;
  }

  .icons.icon-left > & {
    margin-right: $menu-icon-spacing;
  }

  .icons.icon-right > & {
    margin-left: $menu-icon-spacing;
  }
}

i.fa {
  font-style: normal;
}

.fa.slash::after,
.fas.slash::after {
  position: absolute;
  transform: translateX(-90%);
  content: "\f715";
  text-shadow: 0 2px $color-bg-1;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  animation-name: clip-top-left-to-bottom-right;
}

@keyframes clip-top-left-to-bottom-right {
  from {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  to {
    clip-path: polygon(100% 100%, 100% 0%, 0 0, 0% 100%);
  }
}

.sandwich-icon,
.search-icon,
.flat-arrow-down-icon {
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 12px;
  color: inherit;
  box-sizing: border-box;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    height: $icon-line-weight * 1px;
    box-shadow: inset 0 0 0 $icon-line-weight * 1px currentcolor;
    transition-duration: $global-transition-medium;
    transition-timing-function: $global-transition-timing-cubic-bezier;
  }
}

.search-icon {
  &::before,
  &::after {
    transition-property: width, height, border-radius, transform;
  }

  &::before {
    height: 14px;
    width: 14px;
    border-radius: 20px;

    @include cross-browser(transform, rotate(0));

    .search-container.is-active ~ & {
      height: 20px;
      width: $icon-line-weight * 1px;
      border-radius: 0;

      @include cross-browser(transform, rotate(45deg));
    }
  }

  &::after {
    width: 6px;

    @include cross-browser(transform, translate(6px, 6px) rotate(45deg));

    .search-container.is-active ~ & {
      width: 20px;

      @include cross-browser(transform, translate(0) rotate(45deg));
    }
  }
}

.search-container {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 4vh;
  left: 0;
  z-index: 100;
  width: 100vw;
  pointer-events: none;

  @each $breakpoint, $width in $breakpoints {
    @include breakpoint($breakpoint) {
      $grid-container-gutter: map-get($grid-container-padding, #{$breakpoint});

      padding: 0 $grid-container-gutter;
    }
  }

  .spinner-container {
    z-index: 100;
    transform: translateX(-100%);
    position: absolute;
    right: 40px;
    top: 20px;
  }

  &:not(.is-active) {
    .spinner-container {
      display: none !important;
    }
  }

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: $color-text-0;
    opacity: 0;
    will-change: opacity;
    transition: $global-transition-medium;
  }

  span.twitter-typeahead {
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    box-shadow: $global-drop-shadow;
    height: initial !important;
    transform: scale(0.97);
    transition: $global-transition-medium;
    width: auto;
    max-width: calc(min(480px, 95vw));
  }

  input.twitter-typeahead {
    height: $user-card-default-size;
    border: none;
    padding: $global-padding;
    width: map-get($breakpoints, "medium");
    max-width: 100%;

    &.is-active {
      border-radius: $global-radius-small $global-radius-small 0 0;
      border-bottom: $hr-border;
    }
  }

  &.is-active {
    pointer-events: all;

    &::after {
      opacity: 0.5;
      will-change: opacity;
      transition: $global-transition-medium;
    }

    span.twitter-typeahead {
      opacity: 1;
      pointer-events: all;
      transform: scale(1);
      transition: $global-transition-medium;
      box-shadow: $global-drop-shadow-large;
    }
  }

  .tt-menu {
    position: relative !important;
    top: 0 !important;
    max-height: 82vh;
    overflow-y: auto;
  }
}

.user.tt-suggestion.cursor,
.user.tt-suggestion:hover,
.user.global-search-suggestion:hover {
  background-color: $color-bg-2;
  cursor: pointer;
}

.twitter-typeahead.tt-hint {
  display: none;

  .search-container.is-active & {
    display: block;
  }
}

#menu-state {
  display: none;
}

.sandwich-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    width: 20px;
    transition-property: transform;
  }

  &::before {
    @include cross-browser(transform, translate(0, -5px) rotate(0deg));

    #main-menu-toggle-state:popover-open ~ nav &,
    #menu-state:checked ~ nav & {
      @include cross-browser(transform, translate(0, 0) rotate(-45deg));
    }
  }

  &::after {
    @include cross-browser(transform, translate(0, 5px) rotate(0deg));

    #main-menu-toggle-state:popover-open ~ nav &,
    #menu-state:checked ~ nav & {
      @include cross-browser(transform, translate(0, 0) rotate(45deg));
    }
  }
}

.flat-arrow-down-icon {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &::before,
  &::after {
    width: 20px;
    transition-property: transform;
  }

  &::before {
    @include cross-browser(transform, translate(-45%, 0) rotate(22.5deg));

    .is-active & {
      @include cross-browser(transform, translate(-45%, 0) rotate(-22.5deg));
    }
  }

  &::after {
    @include cross-browser(transform, translate(45%, 0) rotate(-22.5deg));

    .is-active & {
      @include cross-browser(transform, translate(45%, 0) rotate(22.5deg));
    }
  }
}

// 27. Breadcrumbs
// ---------

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &.no-padding {
    padding: 0;
  }
}

.tooltip {
  overflow-wrap: break-word;
}
